# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Local .terraform directories
**/.terraform/*

# Crash log files
crash.log
crash.*.log

# Exclude sensitive variables files
*.tfvars
*.tfvars.json
!example.tfvars

# CLI configuration files
.terraformrc
terraform.rc
